[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
ezdxf = "*"
dxfgrabber = "*"

[dev-packages]
pre-commit = "*"
coala = "*"
coala-bears = "*"

[requires]
python_version = "3.6"
